<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TrampMe</title>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Font Awesome Icons -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="/css/creative.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="fundo_login">

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <h3 style="padding-top: 40px; margin-top: 40px; text-align: center">Como funciona:</h3>
                        <div class="row" style="padding: 40px; margin-top: 40px">
                            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                                <i class="fa fa-search fa-lg white-text mr-md-5 mr-3 fa-4x text-primary" style="margin-left: 38%"></i>
                                <br>
                                <br>
                                <p style="color: #011E2E; text-align: center">Informe-nos seus dados e escolha seu plano, depois clique em cadastrar. Iremos analisar seus dados e criaremos um perfil para você!</p>
                            </div>
                            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                                <i class="fa fa-code fa-lg white-text mr-md-5 mr-3 fa-4x text-primary" style="margin-left: 38%"></i>
                                <br>
                                <br>
                                <p style="color: #011E2E; text-align: center">Configure o perfil! Lembre-se que o modo como você apresenta seu trabalho é essencial para uma boa divulgação. </p>
                            </div>
                            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                                <i class="fa fa-users fa-lg white-text mr-md-5 mr-3 fa-4x text-primary" style="margin-left: 38%"></i>
                                <br>
                                <br>
                                <p style="color: #011E2E; text-align: center">Depois de validado é só aguardar as<br> solicitações de contrato para a<br> prestação de serviços</p>
                            </div>
                        </div>
                        <!-- Nested Row within Card Body -->
                        <div class="row" style="align-content: center; background-color: #011E2E; margin: 0px; padding: 10px">
                            <br>
                            <h2 style="text-align: center; color: #ffffff; padding-top: 5%;padding-left: 15%; padding-bottom: 5%">Escolha o plano que cabe no seu bolso!</h2>
                            <div class="container">
                                <div class="row">
                                    <!-- Free Tier -->
                                    <div class="col-lg-6">
                                        <div class="card mb-5 mb-lg-0">
                                            <div class="card-body">
                                                <h5 class="card-title text-muted text-uppercase text-center">Gratis</h5>
                                                <h6 class="card-price text-center">R$0<span class="period">/mês</span></h6>
                                                <hr>
                                                <ul class="fa-ul">
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Cadastre seu trabalho na plataforma
                                                    </li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Seja acessado nas buscas de centenas de peessoas interessadas em contratar seviços </li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Receba avaliações de clientes que te contratarem</li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Acesso às API’s de pagamento, rápido, fácil e eficiente para você</li>
                                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Posições de destaques nas buscas</li>
                                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Publique ainda mais trabalhos e ganhe melhores avaliações de seus clientes</li>
                                                </ul>
                                                <a href="#" class="btn btn-block btn-primary text-uppercase" style="background-color:#434c4e">Selecionar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Pro Tier -->
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                                                <h6 class="card-price text-center">R$29<span class="period">/mês</span></h6>
                                                <hr>
                                                <ul class="fa-ul">
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Cadastre até 10 trabalhos seus na plataforma</strong></li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Seja acessado nas buscas de centenas de peessoas interessadas em contratar seviços</li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Receba avaliações de clientes que te contratarem</li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Acesso às API’s de pagamento, rápido e eficiente para você</li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Posições de destaques nas buscas </li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Adquira maiores recomendações do site</li>
                                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Obtenha
                                                        <strong>maior</strong> divulgação de suas marcas</li>
                                                </ul>
                                                <a href="#" class="btn btn-block btn-primary text-uppercase" style="background-color:#1282a2">Selecionar</a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <form class="user">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Nome Completo</label>
                                            <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Digite seu nome completo">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">CPF</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite o número do seu CPF">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                            <option>Categoria</option>
                                                            <option>Consertos</option>
                                                            <option>Decoração</option>
                                                            <option>Marcenaria</option>
                                                            <option>Costura</option>
                                                            <option>Pintura</option>
                                                        </select>
                                            <label for="exampleInputPassword1">Senha</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
                                        </div>
                                        <a href="#" onclick="inacessivel()" class="btn btn-primary btn-user btn-block">Cadastrar</a>
                                        <hr>

                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="../index.html">Voltar à pagina inicial</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br><br><br><br>
    <footer class="page-footer font-small indigo" style="background-color: #011E2E;">

        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">TrampMe
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Quem somos?</a>
                        </li>
                        <li>
                            <a href="#!">Fale conosco</a>
                        </li>
                        <li>
                            <a href="#!">Vem pro TrampMe</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <!-- Links 2-->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">Como participar?
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Quais as vantagens do TrampMe?</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <!-- Links dos icons -->
                    <!-- isso aqui não está funcionando. Os ícones não aparecem-->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">Social
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="fb-ic" style="color: #ffffff">
                                <i class="fab fa-facebook-square fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a class="ins-ic" style="color: #ffffff">
                                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a class="tw-ic" style="color: #ffffff">
                                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                        </li>
                        <!-- Acaba aqui o problema-->
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
            </div>
        </div>
        <!-- Footer Links -->
        <div class="footer-copyright text-center py-3" style="color: #ffffff">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> TrampMe.com</a>
        </div>
    </footer>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/javascript/creative.min.js"></script>

    <!-- JavaScript da pagina-->
    <script src="/javascript/IServices.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascript/creative.js"></script>
</body>

</html>