<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TrampMe</title>

    <!-- Font Awesome Icons -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="css/creative.min.css" rel="stylesheet">

    <!-- Theme SCSS -->
    <link href="scss/searchbar.scss" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="images/Logo2.png" style="width: 120px; height: 45px; margin: 0%;"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Como funciona</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/login">Conecte-se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/cadastro">Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead">
        <div class="container h-100 ">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Precisando de um serviço?</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">Encontre o profissional ideal para o serviço que procura. Tenha acesso a todas as informações que necessita sobre os profissionais próximos a você.</p>
                    <div class="col-12 col-md-3 container-fluid">
                        <a href="/servicos" class="btn btn-light btn-xl js-scroll-trigger">Encontrar Serviço</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <!-- Lista de buscas sugeridas-->
    <datalist id="categorias">
        <option>Mecânico</option>
        <option>Pintor</option>
        <option>Encanador</option>
        <option>Costureira</option>
        <option>Decorador</option>
        <option>Doméstica</option>
        <option>Buffet</option>
        <option>Marceneiro</option>
    </datalist>

    <!-- About Section -->
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Ou possui um serviço a oferecer?</h2>
                    <hr class="divider light my-4">
                    <p class="text-white-50 mb-4">Crie seu perfil profissional e seu portfólio! Comece agora mesmo a aumentar o alcance do seu serviço!
                    </p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="/cadastro2">Cadastre seu trabalho!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Como funciona?</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-crosshairs text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Busque</h3>
                        <p class="text-muted mb-0">Busque o profissional ideal para você estabelecendo filtros de busca.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fa-4x far fa-address-book text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Catálogo</h3>
                        <p class="text-muted mb-0">Observe o portfolio do profissional para ver se est’a de acordo com o que busca.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class=" fa-4x far fa-handshake text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Contrato</h3>
                        <p class="text-muted mb-0">Entre em contato com o profissional pelo site para estabelecer maiores detalhes sobre o trabalho.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-money-check-alt text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Conveniência</h3>
                        <p class="text-muted mb-0">Pode realizar o pagamento antes ou depois do trabalho, diretamente como profissional ou pelo site de acordo com o que necessitar</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="categorias">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="Telas/servicos.html">
                        <img class="img-fluid" src="images/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoria
                            </div>
                            <div class="project-name">
                                Consertos
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="Telas/servicos.html">
                        <img class="img-fluid" src="images/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoria
                            </div>
                            <div class="project-name">
                                Pintura
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="Telas/servicos.html">
                        <img class="img-fluid" src="images/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoria
                            </div>
                            <div class="project-name">
                                Costura
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="Telas/servicos.html">
                        <img class="img-fluid" src="images/portfolio/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoria
                            </div>
                            <div class="project-name">
                                Decoração
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="Telas/servicos.html">
                        <img class="img-fluid" src="images/portfolio/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoria
                            </div>
                            <div class="project-name">
                                Marcenaria
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="Telas/servicos.html">
                        <img class="img-fluid" src="images/portfolio/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">
                                Categoria
                            </div>
                            <div class="project-name">
                                Consertos
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action Section -->
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Não achou o que estava procurando?</h2>
            <a class="btn btn-light btn-xl" href="Telas/servicos.html">Buscar em todas as categorias</a>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Fale conosco!</h2>
                    <hr class="divider my-4">
                    <p class="text-muted mb-5">Dê sua opinião e tire suas dúvidas sobre a plataforma! Envie-nos um email ou entre em contato po r telefone, responderemos logo que possivel!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>+55(82) 91234-5678 </div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <a class="d-block" href="mailto:contact@yourwebsite.com">trampme@gmail.com</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer font-small indigo" style="background-color: #011E2E;">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">TrampMe</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Quem somos?</a>
                        </li>
                        <li>
                            <a href="#!">Fale conosco</a>
                        </li>
                        <li>
                            <a href="#!">Vem pro TrampMe</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <!-- Links 2-->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">Como participar?</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Quais as vantagens do TrampMe?</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <!-- Links dos icons -->
                    <!-- isso aqui não está funcionando. Os ícones não aparecem-->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">Social</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="fb-ic" style="color: #ffffff">
                                <i class="fab fa-facebook-square fa-lg white-text mr-md-3 mr-3 fa-2x"></i>
                            </a>
                            <a class="ins-ic" style="color: #ffffff">
                                <i class="fab fa-instagram fa-lg white-text mr-md-3 mr-3 fa-2x"> </i>
                            </a>
                            <a class="tw-ic" style="color: #ffffff">
                                <i class="fab fa-twitter fa-lg white-text mr-md-3 mr-3 fa-2x"> </i>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
            </div>
        </div>
        <!-- Footer Links -->
        <div class="footer-copyright text-center py-3" style="color: #ffffff">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> TrampMe.com</a>
        </div>
    </footer>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/javascript/creative.min.js"></script>
    <!-- JavaScript da pagina-->
    <script src="/javascript/IServices.js"></script>
    <!-- Custom scripts for this template -->
    <script src="javascript/creative.js"></script>

</body>

</html>