<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TrampMe</title>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Font Awesome Icons -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="/css/creative.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="page-top fundo_login">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bem vindo de volta!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="senha">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">lembrar de mim</label>
                                            </div>
                                        </div>
                                        <a href="#" onclick="inacessivel()" class="btn btn-primary btn-user btn-block">login</a>
                                        <hr>
                                        <a href="../index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Entrar com Google
                                        </a>
                                        <a href="../index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Entrar com Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="Cadastro.html">Crie uma conta</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="../index.html">Voltar à página inicial</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small indigo" style="background-color: #011E2E;">

        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">TrampMe
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Quem somos?</a>
                        </li>
                        <li>
                            <a href="#!">Fale conosco</a>
                        </li>
                        <li>
                            <a href="#!">Vem pro TrampMe</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <!-- Links 2-->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">Como participar?
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Quais as vantagens do TrampMe?</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <!-- Links dos icons -->
                    <!-- isso aqui não está funcionando. Os ícones não aparecem-->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: #ffffff">Social
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="fb-ic" style="color: #ffffff">
                                <i class="fab fa-facebook-square fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a class="ins-ic" style="color: #ffffff">
                                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a class="tw-ic" style="color: #ffffff">
                                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                        </li>
                        <!-- Acaba aqui o problema-->
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
            </div>
        </div>
        <!-- Footer Links -->
        <div class="footer-copyright text-center py-3" style="color: #ffffff">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> TrampMe.com</a>
        </div>
    </footer>
    <!-- Footer final-->

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/javascript/creative.min.js"></script>

    <!-- JavaScript da pagina-->
    <script src="/javascript/IServices.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascript/creative.js"></script>
</body>

</html>